In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_excel('OnlineRetail (1).xlsx')

In [6]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [12]:
print("Available Customer IDs:")
print(user_item_matrix.index[:5])

Available Customer IDs:
Index([12346.0, 12347.0, 12348.0, 12349.0, 12350.0], dtype='float64', name='CustomerID')

In [14]:
user_item_matrix

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12347.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12348.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
12349.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18281.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18282.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18283.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
18287.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_excel("OnlineRetail.xlsx")

print("Dataset Loaded Successfully")
print(data.head())

data.dropna(inplace=True)

data = data[~data['InvoiceNo'].astype(str).str.startswith('C')]

data = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)]

print("\nData Cleaning Completed")
print("Dataset Shape:", data.shape)

user_item_matrix = data.pivot_table(
    index='CustomerID',
    columns='StockCode',
    values='Quantity',
    aggfunc='sum'
)

# Replace NaN with 0
user_item_matrix.fillna(0, inplace=True)

print("\nUser–Item Matrix Created")
print(user_item_matrix.head())

user_similarity = cosine_similarity(user_item_matrix)

user_similarity_df = pd.DataFrame(
    user_similarity,
    index=user_item_matrix.index,
    columns=user_item_matrix.index
)

print("\nML Model Trained Successfully")

def recommend_products(customer_id, top_n=5):

    if customer_id not in user_similarity_df.index:
        return "Customer ID not found"

    similar_users = user_similarity_df.loc[customer_id] \
                                      .sort_values(ascending=False) \
                                      .iloc[1:6]

    product_scores = user_item_matrix.loc[similar_users.index].sum()

    purchased_products = user_item_matrix.loc[customer_id]
    product_scores = product_scores[purchased_products == 0]

    return product_scores.sort_values(ascending=False).head(top_n)

sample_customer_id = user_item_matrix.index.tolist()[0]

print("\nRecommended Products for Customer:", sample_customer_id)
recommendations = recommend_products(sample_customer_id)

print(recommendations)

Dataset Loaded Successfully
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

Data Cleaning Completed
Dataset Shape: (397884, 8)

User–Item Matrix Created
StockCode   10002  10080  10120  10125  10133  10135  11001  15030  15034  \
CustomerID
12346.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12347.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12348.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12349.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12350.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

StockCode   15036  ...  90214V  90214W  90214Y  90214Z  BANK CHARGES   C2  \
CustomerID         ...
12346.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12347.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12348.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12349.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12350.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0

StockCode   DOT    M  PADS  POST
CustomerID
12346.0     0.0  0.0   0.0   0.0
12347.0     0.0  0.0   0.0   0.0
12348.0     0.0  0.0   0.0   9.0
12349.0     0.0  0.0   0.0   1.0
12350.0     0.0  0.0   0.0   1.0

[5 rows x 3665 columns]

ML Model Trained Successfully

Recommended Products for Customer: 12346.0
StockCode
23167    106.0
22962     72.0
47566     62.0
22577     48.0
21401     48.0
dtype: float64